<mat-toolbar>
  <mat-toolbar-row>
    <img
      class="brand-logo"
      src="https://img.logo.dev/enterprise.com?token=pk_NVVbyuM_RkCABhzvFnmxMQ"
      alt="Enterprise Rent-A-Car logo"
    />
    <h1>Enterprise Fleet Manager</h1>
    <div class="mat-spacer"></div>
    @for (option of options; track option.label) {
      <a mat-button [routerLink]="option.link" routerLinkActive="active">{{ option.label | translate }}</a>
    }
    <app-language-switcher />
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet />
<app-footer-content />
